body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1F1F1F;
    padding: 15px;
}

.turn {
    text-align: center;
    color: #8C8A84;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15BDAC;
}

.players {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 2rem;
    color: white;
}

.player1,
.player2 {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 15ch;
    padding: 10px 20px;
    border: 2px solid #8C8A84;
    border-radius: 10px;
    background-color: #1F1F1F;
}

.player1 .mark {
    color: grey;
}

.mark {
    font-size: 3rem;
    color: white;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    font-size: 4rem;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    background-color: #15BDAC;
    border: none;
}

.cell:nth-child(-n+6) {
    border-bottom: 10px solid #0BA596;
}

.cell:not(:nth-child(3n)) {
    border-right: 10px solid #0BA596;
}

.display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    background-color: #1F1F1F;
}

dialog {
    background-color: #1F1F1F;
    color: white;
    padding: 20px;
    border: 5px solid white;
    border-radius: 10px;
    width: 30%;
    height: 40%;
}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 3rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo .mark {
    font-size: 4rem;
}

.logo .mark:nth-child(1) {
    color: grey;
}

form {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-self: center;
}

form section {
    padding: 5px;
}

form input {
    background-color: #1F1F1F;
    color: white;
    padding: 2px 5px;
    border: 2px solid #8C8A84;
    border-radius: 10px;
}

dialog button {
    justify-self: center;
    align-self: center;
    background-color: #1F1F1F;
    color: white;
    padding: 5px 10px;
    border: 2px solid #8C8A84;
    border-radius: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#player1-win .mark {
    color: grey;
}

.result .mark {
    font-size: 4rem;
}